{% load static %}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Bookstore{% endblock %}</title>

    <link rel="icon" href="{% static 'app/images/favicon.png' %}">

    <!-- FONTS -->
    <link rel="stylesheet" href="{% static 'app/fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'app/fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/fonts/fontawesome/fontawesome.min.css' %}">

    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'app/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendor/niceselect/nice-select.min.css' %}">

    <!-- BASE -->
    <link rel="stylesheet" href="{% static 'app/css/base/variables.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/base/base.css' %}">

    <!-- COMPONENTS -->
    <link rel="stylesheet" href="{% static 'app/css/components/button.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/components/form.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/components/table.css' %}">

    <!-- ADMIN LAYOUT -->
    <link rel="stylesheet" href="{% static 'app/css/admin/layouts/layout.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/admin/layouts/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/admin/layouts/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/admin/layouts/footer.css' %}">

    <!-- PAGE CSS -->
    {% block extra_css %}{% endblock %}
</head>

<body>

    {% include 'app/admin/layouts/sidebar.html' %}

    <div class="admin-main">

        {% include 'app/admin/layouts/header.html' %}

        <main class="admin-content">
            {% block content %}{% endblock %}
        </main>

        {% include 'app/admin/layouts/footer.html' %}

    </div>

    <!-- JS -->
    <script src="{% static 'app/vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/bootstrap.min.js' %}"></script>

    {% block extra_js %}{% endblock %}

</body>

</html>