SECRET_KEY=django-insecure-change-me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

POSTGRES_DB=bookstore
POSTGRES_USER=bookstore
POSTGRES_PASSWORD=bookstore

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET_KEY=
VNPAY_PAYMENT_URL=
VNPAY_RETURN_URL=http://127.0.0.1:8000/vnpay/return/
