/* =========================
   FOOTER
========================= */

.admin-footer {
    padding: 20px 30px;
    margin-top: 24px;

    background: #fff;
    border-top: 1px solid #e2e8f0;
    border-radius: 16px;

    text-align: center;
}

.admin-footer p {
    margin: 0;

    font-size: 14px;
    color: #64748b;
}


