/* =========================
   TABLE COMMON
========================= */

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    color: var(--text);
}

.table th {
    white-space: nowrap;
}

.table td {
    vertical-align: middle;
}


