{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Book Store{% endblock title %}</title>

    <!-- CSS -->
    <link rel="icon" href="{% static 'app/images/favicon.png' %}" />

    <link rel="stylesheet" href="{% static 'app/fonts/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'app/fonts/icofont/icofont.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/fonts/fontawesome/fontawesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'app/vendor/venobox/venobox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/vendor/slickslider/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/vendor/niceselect/nice-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/vendor/bootstrap/bootstrap.min.css' %}" />

    <!-- BASE -->
    <link rel="stylesheet" href="{% static 'app/css/base/variables.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/base/base.css' %}">

    <!-- COMPONENTS -->
    <link rel="stylesheet" href="{% static 'app/css/components/button.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/components/form.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/components/product-card.css' %}">

    <!-- WEB LAYOUT -->
    <link rel="stylesheet" href="{% static 'app/css/web/layouts/layout.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/web/layouts/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/web/layouts/footer.css' %}">

    <!-- RESPONSIVE -->
    <link rel="stylesheet" href="{% static 'app/css/base/responsive.css' %}">

    <!-- PAGE CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'app/web/layouts/header.html' %}

    {% block slider %}{% endblock slider %}
    {% block content %}{% endblock content %}
    {% block profile %}{% endblock profile %}

    {% include 'app/web/layouts/footer.html' %}

    <!-- JS -->
    <script src="{% static 'app/vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/vendor/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'app/vendor/niceselect/nice-select.min.js' %}"></script>
    <script src="{% static 'app/vendor/slickslider/slick.min.js' %}"></script>
    <script src="{% static 'app/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'app/js/nice-select.js' %}"></script>
    <script src="{% static 'app/js/countdown.js' %}"></script>
    <script src="{% static 'app/js/accordion.js' %}"></script>
    <script src="{% static 'app/js/venobox.js' %}"></script>
    <script src="{% static 'app/js/slick.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>

    {% block js %}{% endblock js %}
</body>
</html>
