<!-- ADMIN HEADER -->
<div class="admin-header">

    <!-- LEFT -->
    <div class="header-left">

        <div class="header-icon">
            <i class="fas fa-store"></i>
        </div>

        <div>
            <h4 class="mb-1 fw-bold">
                Trang quản trị
            </h4>

            <p class="mb-0 text-muted">
                Quản lý hệ thống bán hàng
            </p>
        </div>

    </div>

    <!-- RIGHT -->
    <div class="header-right">

        <div class="admin-user">

            <div class="user-avatar">
                {{ request.user.username|first|upper }}
            </div>

            <div>
                <small class="text-muted d-block">
                    Xin chào
                </small>

                <strong>
                    {{ request.user.username }}
                </strong>
            </div>

        </div>

        <a href="{% url 'logout' %}"
           class="btn btn-danger btn-sm logout-btn">

            <i class="fas fa-sign-out-alt me-1"></i>

            Đăng xuất

        </a>

    </div>

</div>


